.Login {
  height: 100%;
}

.Login .Card {
  position: relative;
  margin: auto;
  top: 90px;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 300px !important;
}

.Login .Card .header {
  z-index: 1000;
  position: fixed;
  width: 300px;
  background-color: white;
}

.Login .Card h2 {
  text-align: center;
  position: relative;
  font-weight: normal;
  color: grey;
  font-size: 1.6em;
}

.Login .Card .users {
  position: relative;
  top: 90px;
}

.Login .Card .UserOption {
  position: relative;
  width: 100%;
  padding: 0px;
  height: 80px;
  text-align: left;
  float: left;
}

.Login .Card .Avatar {
  position: relative;
  display: inline-block;
  left: 20px;
  top: 4px;
}

.Login .Card .UserOption p{
  position: relative;
  display: inline-block;
  left: 30px;
  margin: 0px 0px 31px;
  top: 7px;
  font-size: 18px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.Login .Card .UserOption:hover {
  background-color: rgba(0,0,0,.08);
  cursor: pointer;
}

.Login .Card .UserOption:hover .Avatar i{
  color: rgba(0,0,0,.6);
}
