.UnansweredPoll .Card {
  position: relative;
  margin: 0px auto;
  top: 100px;
  width: 80%;
  min-height: 700px;
}

.UnansweredPoll .Title {
  position: relative;
  display: block;
  margin: 0px;
  left: 15px;
  top: 15px;
  font-size: 35px;
}

.UnansweredPoll .Question {
  position: relative;
  padding: 100px 0px 150px;
  margin: 0px auto;
  width: inherit;
  text-align: center;
  font-size: 50px;
}
