.LeaderboardUser {
  position: relative;
  display: table-row;
  width: inherit;
}

.LeaderboardUser:hover {
  background-color: rgba(0,0,0,.15);
}

.LeaderboardUser .Cell {
  position: relative;
  display: table-cell;
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.LeaderboardUser .avatar {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 9px;
  left: 40%;
}
