.Home .HomeHeader {
  display: inline-block;
  padding: 15px;
  width: 50%;
  margin: 0px;
}

.Home .changeView {
  display: inline-block;
  float: right;
}

.Home .changeView * {
  position: relative;
  display: inline-block;
  padding: 20px;
  margin: 0px;
}

.Home select {
  position: relative;
  bottom: 2px;
  outline: none;
}

.Home .css-14n08dp {
  width: 100%;
}
