.App {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.1);
  font-family: 'Marvel', sans-serif;
}

.App .css-14n08dp {
  width: 100%;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 60px;
}
