.Header {
  position: relative;
  height: 60px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgba(0,0,0,.6);
  box-shadow: 0px 2px 8px rgba(0,0,0,.4);
  z-index: 200;
}

.HeaderTitle {
  position: relative;
  color: white;
  margin: 0px;
  padding: 0px;
  font-size: 32px;
  top: 10px;
  left: 15px;
  width: 200px;
  float: left;
}

.Header .UserInfo {
  position: relative;
  width: 200px;
  margin: 0px;
  float: right;
  height: inherit;
  cursor: pointer;
  color: white;
}

.Header .UserInfo .Username {
  position: absolute;
  float: left;
  width: 120px;
  margin: 0px;
  text-align: right;
  top: 5px;
}

.Header .UserInfo a {
  position: absolute;
  left: 65px;
  bottom: 5px;
  text-decoration: none;
  color: black;
  border: 1px solid grey;
  padding: 3px 8px;
  border-radius: 3px;
  color: white;
}

.Header .UserInfo a:hover {
  background-color: rgba(0,0,0,.15);
}

.Header .UserInfo a:active {
  background-color: grey;
  color: white;
  box-shadow: 2px 2px 8px rgba(0,0,0,.3);
}
