.Login {
  position: relative;
  background-color: rgba(255,255,255,1);
  top: 60px;
  width: 400px;
  height: 500px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.4);
  margin: 0px auto;
}

.Login .LoginTitle {
  position: relative;
  height: 55px;
  width: 100%;
  margin: 0px;
  text-align: center;
  font-size: 30px;
  top: 25px;
  border-bottom: 1px solid lightgrey;
}

.Login .LoginOptions {
  display: relative;
  margin-top: 50px;
}

.Login .LoginOption {
  padding: 20px 40px;
}

.Login .LoginOption:hover {
  background-color: rgba(0,0,0,.1);
  cursor: pointer;
}
