.Body {
  position: relative;
  background-color: white;
  width: 80%;
  top: 70px;
  padding: 0px;
  margin: 0px auto;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  height: auto;
  min-height: 500px;
}
