.PollDetails h1 {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0px;
  top: 15px;
  padding: 5px;
  font-size: 36px;
}

.PollDetails .details {
  position: relative;
  width: 80%;
  padding: 0px;
  margin:0px auto;
}

.PollDetails .pollInfo {
  text-align: center;
  margin: 0px;
  padding: 40px 0px 20px;
  width: 100%;
  font-size: 16px;
}
